<div class="container">
  <div class="row">
    <div class= "span4 center clear_box">
      <h1>
      <%= @group.name %>
    </h1>
    <%= link_to "New Good", new_group_good_path(@group), class: 'btn center' %>
    </div>
  </div>

  <div class="row">
    <% if @group.goods.present? %>
      <% @group.goods.each do |good| %>
            <div class="span3 good_index">
            <ul>
              <li class="img-polaroid"> <%= link_to "#{image_tag good.image.thumb.url}".html_safe, group_goods_path(good) %></li>
            </ul>
          </div>
      <% end %>
      <% else %>
      <h2>No goods in this group</h2>
    <% end %>
  </div>
</div>
