<!-- load all queries in one  -->

<div class="container">
  <div class="house">
    <div class="row">
      <%- @rooms.each do |room| -%>
        <div id="<%= room.name.downcase %>" class="span4 house_room">
          <a href="#<%= room.name.downcase %>Modal" role="button" class="btn" data-toggle="modal">
            <%= room.name %>
          </a>
        </div>
        <%= render 'modal', category: room %>
      <%- end -%>
    </div>
  </div>
</div>

