
<div class="hero clearfix">
  <div class="container">
    <div class="span6 clear_box">Hello!</div>  
      <div class="span4 white_box pull-right">
      <%- if user_signed_in? -%>  
        <h1>Welcome</h1>
      <%- else -%>
        <%= simple_form_for(User.new, :as => :user, :url => user_registration_path) do |f| %>
        <%= f.input :username,placeholder: "Username", label: false %>
        <%= f.input :email,placeholder: "Email", label: false %>
        <%= f.input :password,placeholder: "Password", label: false %>
        <%= f.input :location,placeholder: "Location", label: false %>
        <%= f.button :submit, "Join", class: "" %>
        <% end %>
      <% end %>
      </div>
  </div>
</div>

<div class="container">
  <div class="row icon_row">
    <div class="span4">
  <h1>What we do</h1>
    </div>
      </div>
    <div class="row icon_row">
      <div class="span4">
        <i class="icon-group icon-4x icon-border"></i> You can create Groups
      </div>
      <div class="span4">
        <i class="icon-money icon-4x icon-border"></i> You do not need money
      </div>
    </div>
    <div class="row icon_row">
      <div class="span4">
        <i class="icon-picture icon-4x icon-border"></i> Pictures are required
      </div>
      <div class="span4">
        <i class="icon-archive icon-4x icon-border"></i> Organize your stuff
      </div>
  </div>
</div>
