
<div class="hero clearfix">
  <div class="container">
    <div class="span6 clear_box">
      <h4>Announcing two news ways to categorize and track your goods</h4>
      <%= link_to "Map Beta", home_map_path, :class => 'btn' %>
      <%= link_to "House Beta", home_house_path, :class => 'btn' %>
    </div>
      <div class="span4 white_box pull-right">
      <%- if user_signed_in? -%>
        <h1>Welcome</h1>
      <%- else -%>
        <%= simple_form_for(User.new, :as => :user, :url => user_registration_path) do |f| %>
        <%= f.input :username,placeholder: "Username", label: false %>
        <%= f.input :email,placeholder: "Email", label: false %>
        <%= f.input :password,placeholder: "Password", label: false %>
        <%= f.input :location,placeholder: "Location", label: false %>
        <%= f.button :submit, "Join", class: "" %>
        <% end %>
      <% end %>
      </div>
  </div>
</div>

<div class="container">
  <div class="row icon_row">
    <div class="span8">
  <h1>Share is a property gifting application that allows users to post public and private goods</h1>
    </div>
      </div>
    <div class="row icon_row">
      <div class="span5">
        <p class="logo_caption"><i class="icon-group icon-4x icon-border pull-left"></i>
        Friend having their first child? Nephew going to college? Create groups for your friends and family
        </p>
      </div>
      <div class="span5">
        <p class="logo_caption"><i class="icon-money icon-4x icon-border pull-left"></i> No credit card required
        </p>
      </div>
    </div>
    <div class="row icon_row">
      <div class="span5">
        <p class="logo_caption"><i class="icon-picture icon-4x icon-border pull-left"></i>
          All posted goods must have a picture
        </p>
      </div>
      <div class="span5">
        <p class="logo_caption"><i class="icon-archive icon-4x icon-border pull-left"></i>
          Use Share to create an inventory of goods you no longer want
        </p>
      </div>
  </div>
</div>

