<div class="container">
<%= image_tag @good.image.thumb.url, :class => "img-polaroid" %>
<%= @good.title %>
<p>ADD A CLAIM BUTTON AND GPS INFORMATION!</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@good.location}%2C#{@good.location}" %>



</div>
